<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-uppercase">Officer List</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <form>
        <div class="row">
          <div class="col-3">
            <input 
              type="text" class="form-control" id="search" placeholder="Search by last name" 
              name="lofficer" [(ngModel)]="lofficer" autofocus>
          </div>
          <div class="col-3">
            <input 
              type="text" class="form-control" id="search" placeholder="Search by first name" 
              name="fofficer" [(ngModel)]="fofficer">
          </div>
          <div class="col-3">
            <input 
              type="text" class="form-control" id="search" placeholder="Search by  badge" 
              name="iofficer" [(ngModel)]="iofficer">
          </div>
          <div class="col-3">
            <button class="btn-block btn-info form-control" (click)="searchby()">Search</button>
          </div>

        </div>
      </form>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-12" >
      <table class="table table-bordered table-striped ">
        <thead>
          <tr class="text-center text-uppercase">
            <td>Payroll</td>
            <td>Badge</td>
            <td>Title</td>
            <td>Last</td>
            <td>First</td>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let officer of (search_result|search:lofficer|searchbyFirstName:fofficer)">
            <td>{{officer.payroll_number}}</td>
            <td>{{officer.badge_id}}</td>
            <td>{{officer.job_title}}</td>
            <td>{{officer.last_name}}</td>
            <td>{{officer.first_name}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>


</div>

